<p>成绩单</p>
<table>
    <tr>
        <th>姓名</th>
        <th>数学</th>
        <th>语文</th>
        <th>英语</th>
        <th>编程</th>
        <th>平均分</th>
        <th>总分</th>
    </tr>
    <% students.forEach((student) => { %>
    <tr>
        <td><%= student.name%></td><td><%= student.mathScore%></td><td><%= student.mandarinScore%></td><td><%= student.englishScore%></td><td><%= student.programmingScore%></td><td><%= roundAtMost1Decimal(student.averageScore())%></td><td><%= roundAtMost1Decimal(student.totalScore())%></td>
    </tr>
    <% }) %>
</table>
<p>全班总分平均数：<%= roundAtMost1Decimal(Student.averageOfTotalScoreSum(students)) %></p>
<p>全班总分中位数：<%= roundAtMost1Decimal(Student.medianOfTotalScoreSum(students)) %></p>

<%- include('../home/index') %>